 ul.header {
    /* background-color: rgb(67, 109, 224); */
    padding: 0px;
    padding-block: 0px;
    display: inline;
  }
ul.header li {
    display: inline-block;
    list-style-type: none;
    margin: 0;
  }
  
  ul.selectButtonsList{
      display: inline;
  }
  .buttonCategoryList{
      padding-right: 20px;
  } 